<%- include('header'); -%>

<body>
    <main>
        <article>
            <img src="/public/css/img/" alt="produit1">
            <p>Produit1</p>
        </article>

        <article>
            <img src="/public/css/img/" alt="produit2">
            <p>Produit2</p>
        </article>

        <article>
            <img src="/public/css/img/" alt="produit3">
            <p>Produit3</p>
        </article>

        <article>
            <img src="/public/css/img/" alt="produit4">
            <p>Produit4</p>
        </article>

        <article>
            <img src="/public/css/img/" alt="produit5">
            <p>Produit5</p>
        </article>

        <article>
            <img src="/public/css/img/" alt="produit6">
            <p>Produit6</p>
        </article>
    </main>    
</body>

<%- include('footer');-%>