<footer>
    <ul>
        <div class="nom">
            <li>LE LOCAT Léo</li>
            <li>QUERE Alan</li>
        </div>
        
        <div class="mentions">
            <li>Mentions légales</li>
        </div>
        
        <div class="locfitfoot">
            <li>Locfit</li>
        </div>
    </ul>
</footer>