<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/style/style.css">
    <link rel="stylesheet" href="../css/style/header.css">
    <link rel="stylesheet" href="../css/style/footer.css">

    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <h1>Locfit</h1>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="catalogue">Catalogue</a></li>
                <%if(isAuth){if(role=='admin'){%>
                    <style>.connexion {margin-left:500px;}</style>
                <li><a href="creationgerant">Créer un compte gérant</a></li>
                <%}}%>
                <%if(isAuth){if(role=='agent'){%>
                    <style>.connexion {margin-left:500px;}</style>
                <li><a href="ajouterproduit">Ajouter un produit</a></li>
                <%}}%>
                <li class="connexion">
                    <% if(isAuth){%>
                    <a href="logout">Déconnexion <strong>(<%=prenom%> <%=nom%>)</strong></a><img src="../css/img/user_image.png"/>
                     <%} else {%>
                    <a href="login">Connexion</a><style>.connexion {margin-left:850px;}</style>
                    <%}%>
                </li>
            </ul>
        </nav>
    </header>








</body>

</html>