<%- include('header'); -%>
    <main>
        <img class="bg" src="../css/img/fond_1.png" />
        <h1>Rechercher</h1>
        <div class="main_page_0">
            <form action="/recherche" method="post">
                <input class="text" type="text" placeholder="Trouvez du matériel à louer (Ne fonctionne pas)" name="login" />
                <input class="submit" value="S" type="submit"/>
            </form>
        </div>
        <div class="main_page_1">
            <section class="catégories">
                <a><img src="../css/img/produits/veloelec1.jpg"/>Vélo</a>
                <a><img src="../css/img/swim2.jpg"/>Natation</a>
                <a><img src="../css/img/produits/banc1.jpg"/>Musculation</a>
                <a><img src=""/>Cardio</a></li>
            </section>
        </div>
    </main>
<%- include('footer'); -%>