<body>
    <style>
        body {
            font-family: "Roboto", sans-serif;
            background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23000d3aff'/><path d='M37.657 10.343l-4.243 4.243m-2.828 2.828l-4.243 4.243m11.314 0l-4.243-4.243m-2.828-2.828l-4.243-4.243m-20.686 0l-4.243 4.243m-2.828 2.828l-4.243 4.243m11.314 0l-4.243-4.243m-2.828-2.828l-4.243-4.243'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='%237c6a29ff' fill='none'/><path d='M16-8v6m0 4v6m8-8h-6m-4 0H8m8 24v6m0 4v6m8-8h-6m-4 0H8'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='%237a6929ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }  
        
        .login-box {
            background-color: #000d3a;
            padding: 20px 150px;
            border: 2px solid #D1B17F;
            width: 400px;
            text-align:center;
        }

        h2 {
        color: #FFFFFF;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10%;
        }

        div {
            padding: 3%;
        }

        .info_user {
            display: flex;
            flex-direction: column;
            
        }

        .info_user > input {
            width: 250px;
            height: 30px;
        }

        label {
            margin-bottom: 5%;
            text-align: left;
        }

        .column {
          display: flex;
          justify-content: center;
          padding: 2%;
        }



        .connect {
        padding: 10px;
        border: none;
        border-radius: 5px;
        color: #FFFFFF;
        cursor: pointer;
        }

        .button-connect > input {
            padding: 15px 40px;
            border: none;
            background-color: #D1B17F;
            color: #000d3a;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
    
    <div class="login-container">
        <div class="login-box">
            <form action="/moncompte" method="POST">
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" required>
                <label for="prenom">Prenom :</label>
                <input type="text" id="prenom" name="prenom" required>
                <label for="ddn">Date de naissance :</label>
                <input type="date" id="ddn" name="ddn" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="mdp">Mot de passe:</label>
                <input type="text" id="mdp" name="mdp" required>
                <input type="hidden" id="id" name="id" value="<%=id%>" required>
                <button type="submit">Confirmer les modifications</button>
            </form>
            <%if(isAuth){if(role=='client'){%>
            <a href="/supprimercompte">Supprimer mon compte</a><%}}%>
            <a href="/">Retourner à l'accueil</a>
        </div>
    </div>
</body>

