@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

footer {
    background-color:#000D3A;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    margin: 0%;
    width: 100%;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.footer-center {
    padding-top: 5%;
    text-align: center;
    width: 50%;

}



.footer-right {
    text-align: center;
    width: 25%;
    font-weight: 800;
    font-size: 32;
}

.footer-left {
    text-align: center;
    width: 25%;

}

.footer-left > p {
    padding: 3%;
}