body{margin:0;}

header {font-family:Roboto;}

header h1{color: #EDC86E;margin-left:100px;font-size: 2rem;}

nav ul {
    padding-top: 18px;
    display: flex;
    justify-content: center;
}

nav li {
    color: #EDC86E;
    list-style-type: none;
    margin-left:150px;
}

nav a {
    font-size:1.2rem;
    color: #EDC86E;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

nav {
    display:flex;
    background-color: #000d3a;
    padding-top: 10px;
    padding-bottom: 10px;
}

.connexion{
    margin-left:400px;
    overflow: hidden;
}