body {
    margin: 0;
}

header {
    font-family: "Roboto";
}

header h1 {
    color: #EDC86E;
    margin-left: 100px;
    font-size: 2rem;
}

nav ul {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

nav li {
    color: #EDC86E;
    list-style-type: none;
    margin-left: 50px;

 }

nav a {
    font-size: 1.2rem;
    color: #f8f8f8;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    text-decoration: underline;
    color: #EDC86E;
}

nav {
    display: flex;
    background-color: #000d3a;
}

.connexion {
    margin-left: 800px;
    display: flex;
    text-overflow: ellipsis;
    width: 100px;
    text-align: center;
}

.connexion strong {
    font-size: 0.8rem;
    font-weight: lighter;
    text-overflow: ellipsis;
    color: #EDC86E;
}

li img {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: 20px;
}